include _mixins.pug
.wrapper.footer
	.box
		.footer-links
			a(href="#").footer-links-item License Agreement
			a(href="#").footer-links-item Customer Support Agreement
			.footer-links-item © 2017 DWKit

	