extends ../_layout

block title
	title Demo
block config
	- var main = false
	- var demo = true
block content
	.wrapper.blue.page-head.demo
		.demo-inner
			a(href="#").demo-item
				.demo-item-inner
					.demo-text
						.title.h2 Backend
					.demo-img
						.illustration-cont.main-ill3
							.illustration-cont-inner
								svg(xmlns='http://www.w3.org/2000/svg', width='228', height='220', viewbox='0 0 228 220')
									g(fill='none', fill-rule='evenodd')
										g.block.block1
											g(fill='#FF4A06')
												path(d='M76 154l38-22 38 22-38 22')
												path(d='M76 110l38-22v44l-38 22')
												path(d='M114 88l38 22v44l-38-22')
												path(d='M76 110l38 22v44l-38-22')
												path(d='M114 132l38-22v44l-38 22')
												path(d='M76 110l38-22 38 22-38 22')
											path(fill='#FF4A06', d='M76 154l38-22 38 22-38 22')
											path(fill='#ED4306', d='M76 110l38 22v44l-38-22')
											path(fill='#E43E00', d='M114 132l38-22v44l-38 22')
											path(fill='#FF4A06', d='M76 110l38-22 38 22-38 22')
										g.block.block2
											g(fill='#FF4A06')
												path(d='M114 176l38-22 38 22-38 22')
												path(d='M114 132l38-22v44l-38 22')
												path(d='M152 110l38 22v44l-38-22')
												path(d='M114 132l38 22v44l-38-22')
												path(d='M152 154l38-22v44l-38 22')
												path(d='M114 132l38-22 38 22-38 22')
											path(fill='#FF4A06', d='M114 176l38-22 38 22-38 22')
											path(fill='#ED4306', d='M114 132l38 22v44l-38-22')
											path(fill='#E43E00', d='M152 154l38-22v44l-38 22')
											path(fill='#FF4A06', d='M114 132l38-22 38 22-38 22')
										g.block.block3
											g(fill='#FF4A06')
												path(d='M152 198l38-22 38 22-38 22')
												path(d='M152 154l38-22v44l-38 22')
												path(d='M190 132l38 22v44l-38-22')
												path(d='M152 154l38 22v44l-38-22')
												path(d='M190 176l38-22v44l-38 22')
												path(d='M152 154l38-22 38 22-38 22')
											path(fill='#FF4A06', d='M152 198l38-22 38 22-38 22')
											path(fill='#ED4306', d='M152 154l38 22v44l-38-22')
											path(fill='#E43E00', d='M190 176l38-22v44l-38 22')
											path(fill='#FF4A06', d='M152 154l38-22 38 22-38 22')
										g.block.block4
											g(fill='#FF4A06')
												path(d='M76 110l38-22 38 22-38 22')
												path(d='M76 66l38-22v44l-38 22')
												path(d='M76 22l38-22v44L76 66')
												path(d='M114 44l38 22v44l-38-22')
												path(d='M114 0l38 22v44l-38-22')
												path(d='M76 66l38 22v44l-38-22')
												path(d='M76 22l38 22v44L76 66')
												path(d='M114 88l38-22v44l-38 22')
												path(d='M114 44l38-22v44l-38 22')
												path(d='M76 22l38-22 38 22-38 22')
											path(fill='#FF4A06', d='M76 110l38-22 38 22-38 22')
											path(fill='#E43E00', d='M76 66l38-22v44l-38 22')
											path(fill='#E43E00', d='M76 22l38-22v44L76 66')
											path(fill='#ED4306', d='M114 44l38 22v44l-38-22')
											path(fill='#ED4306', d='M114 0l38 22v44l-38-22')
											path(fill='#ED4306', d='M76 66l38 22v44l-38-22')
											path(fill='#ED4306', d='M76 22l38 22v44L76 66')
											path(fill='#E43E00', d='M114 88l38-22v44l-38 22')
											path(fill='#E43E00', d='M114 44l38-22v44l-38 22')
											path(fill='#FF4A06', d='M76 22l38-22 38 22-38 22')
										g.block.block5
											g(fill='#FF4A06')
												path(d='M38 176l38-22 38 22-38 22')
												path(d='M38 132l38-22v44l-38 22')
												path(d='M76 110l38 22v44l-38-22')
												path(d='M38 132l38 22v44l-38-22')
												path(d='M76 154l38-22v44l-38 22')
												path(d='M38 132l38-22 38 22-38 22')
											path(fill='#FF4A06', d='M38 176l38-22 38 22-38 22')
											path(fill='#ED4306', d='M38 132l38 22v44l-38-22')
											path(fill='#E43E00', d='M76 154l38-22v44l-38 22')
											path(fill='#FF4A06', d='M38 132l38-22 38 22-38 22')
										g.block.block6
											g(fill='#FF4A06')
												path(d='M0 198l38-22 38 22-38 22')
												path(d='M0 154l38-22v44L0 198')
												path(d='M38 132l38 22v44l-38-22')
												path(d='M0 154l38 22v44L0 198')
												path(d='M38 176l38-22v44l-38 22')
												path(d='M0 154l38-22 38 22-38 22')
											path(fill='#FF4A06', d='M0 198l38-22 38 22-38 22')
											path(fill='#ED4306', d='M0 154l38 22v44L0 198')
											path(fill='#E43E00', d='M38 176l38-22v44l-38 22')
											path(fill='#FF4A06', d='M0 154l38-22 38 22-38 22')
										g.block.block7
											path.block.bck(fill='#FFF', d='M38 132l38-22 38 22-38 22')
											path.block.bckl(fill='#EEF5FF', d='M38 88l38-22v44l-38 22')
											path.block.bckr(fill='#BCD9FC', d='M76 66l38 22v44l-38-22')
											path.block.frl(fill='#EEF5FF', d='M38 88l38 22v44l-38-22')
											path.block.frr(fill='#BCD9FC', d='M76 110l38-22v44l-38 22')
											path.block.frt(fill='#FFF', d='M38 88l38-22 38 22-38 22')
										g.block.block8
											path.block.bck(fill='#FFF', d='M76 198l38-22 38 22-38 22')
											path.block.bckl(fill='#EEF5FF', d='M76 154l38-22v44l-38 22')
											path.block.bckr(fill='#BCD9FC', d='M114 132l38 22v44l-38-22')
											path.block.frl(fill='#EEF5FF', d='M76 154l38 22v44l-38-22')
											path.block.frr(fill='#BCD9FC', d='M114 176l38-22v44l-38 22')
											path.block.frt(fill='#FFF', d='M76 154l38-22 38 22-38 22')
										g.block.block9
											path.block.bck(fill='#FFF', d='M114 132l38-22 38 22-38 22')
											path.block.bckl(fill='#EEF5FF', d='M114 88l38-22v44l-38 22')
											path.block.bckr(fill='#BCD9FC', d='M152 66l38 22v44l-38-22')
											path.block.frl(fill='#EEF5FF', d='M114 88l38 22v44l-38-22')
											path.block.frr(fill='#BCD9FC', d='M152 110l38-22v44l-38 22')
											path.block.frt(fill='#FFF', d='M114 88l38-22 38 22-38 22')
						.demo-btn
							.btn.white2
								span Open page
			a(href="#").demo-item
				.demo-item-inner
					.demo-text
						.title.h2 Frontend
					.demo-img
						.illustration-cont.main-ill4
							.illustration-cont-inner
								svg(xmlns='http://www.w3.org/2000/svg', width='228', height='220', viewbox='0 0 228 220', version='1.1')
									g(fill='none', fill-rule='evenodd', stroke='none', stroke-width='1')
										g.block.block1
											path.block.comb(fill='#FFF', d='M0 198l38-22 38 22-38 22-38-22zm38-22l38-22 38 22-38 22-38-22z')
											path.block.comb2(fill='#EEF5FF', d='M0 154l38-22v44L0 198v-44zm38-22l38-22v44l-38 22v-44z')
											path.block.bckr(fill='#BCD9FC', d='M76 110l38 22v44l-38-22')
											path.block.frl(fill='#EEF5FF', d='M0 154l38 22v44L0 198')
											path.block.comb2(fill='#BCD9FC', d='M38 176l38-22v44l-38 22v-44zm38-22l38-22v44l-38 22v-44z')
											path.block.comb2(fill='#FFF', d='M0 154l38-22 38 22-38 22-38-22zm38-22l38-22 38 22-38 22-38-22z')
										g.block.block2
											path.block.comb(fill='#FFF', d='M152 198l38-22 38 22-38 22-38-22zm-38-22l38-22 38 22-38 22-38-22z')
											path.block.bckl(fill='#EEF5FF', d='M114 132l38-22v44l-38 22')
											path.block.comb2(fill='#BCD9FC', d='M190 132l38 22v44l-38-22v-44zm-38-22l38 22v44l-38-22v-44z')
											path.block.comb2(fill='#EEF5FF', d='M152 154l38 22v44l-38-22v-44zm-38-22l38 22v44l-38-22v-44z')
											path.block.frr(fill='#BCD9FC', d='M190 176l38-22v44l-38 22')
											path.block.comb2(fill='#FFF', d='M152 154l38-22 38 22-38 22-38-22zm-38-22l38-22 38 22-38 22-38-22z')
										g.block.block3
											g.block.block3-1
												path(fill='#FFF', d='M76 110l38-22 38 22-38 22')
												path(fill='#EEF5FF', d='M76 22l38-22v44L76 66V22zm0 44l38-22v44l-38 22V66z')
												path(fill='#BCD9FC', d='M114 0l38 22v44l-38-22V0zm0 44l38 22v44l-38-22V44z')
												path(fill='#EEF5FF', d='M76 22l38 22v44L76 66')
												path(fill='#EEF5FF', d='M76 66l38 22v44l-38-22')
												path(fill='#BCD9FC', d='M114 44l38-22v44l-38 22')
												path(fill='#BCD9FC', d='M114 88l38-22v44l-38 22')
												path(fill='#FFF', d='M76 22l38-22 38 22-38 22')
										g.block
											g.block.block4
												g(fill='#FF4A06')
													path(d='M114 132l38-22 38 22-38 22')
													path(d='M114 88l38-22v44l-38 22')
													path(d='M152 66l38 22v44l-38-22')
													path(d='M114 88l38 22v44l-38-22')
													path(d='M152 110l38-22v44l-38 22')
													path(d='M114 88l38-22 38 22-38 22')
												path(fill='#FF4A06', d='M114 132l38-22 38 22-38 22')
												path(fill='#ED4306', d='M114 88l38 22v44l-38-22')
												path(fill='#E43E00', d='M152 110l38-22v44l-38 22')
												path(fill='#FF4A06', d='M114 88l38-22 38 22-38 22')
											g.block.block5
												g(fill='#FF4A06')
													path(d='M38 132l38-22 38 22-38 22')
													path(d='M38 88l38-22v44l-38 22')
													path(d='M76 66l38 22v44l-38-22')
													path(d='M38 88l38 22v44l-38-22')
													path(d='M76 110l38-22v44l-38 22')
													path(d='M38 88l38-22 38 22-38 22')
												path(fill='#FF4A06', d='M38 132l38-22 38 22-38 22')
												path(fill='#ED4306', d='M38 88l38 22v44l-38-22')
												path(fill='#E43E00', d='M76 110l38-22v44l-38 22')
												path(fill='#FF4A06', d='M38 88l38-22 38 22-38 22')
											g.block.block6
												g(fill='#FF4A06')
													path(d='M76 198l38-22 38 22-38 22')
													path(d='M76 154l38-22v44l-38 22')
													path(d='M114 132l38 22v44l-38-22')
													path(d='M76 154l38 22v44l-38-22')
													path(d='M114 176l38-22v44l-38 22')
													path(d='M76 154l38-22 38 22-38 22')
												path(fill='#FF4A06', d='M76 198l38-22 38 22-38 22')
												path(fill='#ED4306', d='M76 154l38 22v44l-38-22')
												path(fill='#E43E00', d='M114 176l38-22v44l-38 22')
												path(fill='#FF4A06', d='M76 154l38-22 38 22-38 22')
											g.block.block4
												g(fill='#FF4A06')
													path(d='M114 132l38-22 38 22-38 22')
													path(d='M114 88l38-22v44l-38 22')
													path(d='M152 66l38 22v44l-38-22')
													path(d='M114 88l38 22v44l-38-22')
													path(d='M152 110l38-22v44l-38 22')
													path(d='M114 88l38-22 38 22-38 22')
												path(fill='#FF4A06', d='M114 132l38-22 38 22-38 22')
												path(fill='#ED4306', d='M114 88l38 22v44l-38-22')
												path(fill='#E43E00', d='M152 110l38-22v44l-38 22')
												path(fill='#FF4A06', d='M114 88l38-22 38 22-38 22')
						.demo-btn
							.btn.white2
								span Open page























	